# .env

# SharePoint Configuration
SHAREPOINT_TENANT_ID=your_actual_tenant_id
SHAREPOINT_CLIENT_ID=your_actual_client_id
SHAREPOINT_SITE_DOMAIN=your_actual_site_domain
SHAREPOINT_SITE_NAME=your_actual_site_name
SHAREPOINT_SITE_FOLDER=/your/folder/path # Example: /General (leave empty if you want to use the root folder)
SHAREPOINT_FILES_FORMAT=pdf,docx,pptx
SHAREPOINT_CONNECTOR_ENABLED=true

# Key Vault Configuration
AZURE_KEY_VAULT_NAME=you-key-vault-name

# Chunkers Configuration
AZURE_FORMREC_SERVICE=your-document-intelligence-resource

# Azure OpenAI Configuration
AZURE_OPENAI_SERVICE_NAME=your-openai-service-name
AZURE_OPENAI_API_VERSION=2024-10-21
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding
AZURE_EMBEDDINGS_VECTOR_SIZE=3072
AZURE_OPENAI_CHATGPT_DEPLOYMENT=chat

# Azure Search Configuration
AZURE_SEARCH_SERVICE=your-search-service-name