{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "MIN_CHUNK_SIZE": "10",
    "TOKEN_OVERLAP": "0",
    "NUM_TOKENS":  "256",
    "NETWORK_ISOLATION": "false",
    "AZURE_KEY_VAULT_NAME": "",
    "AZURE_FORMREC_SERVICE": "",
    "AZURE_OPENAI_SERVICE_NAME": "",
    "AZURE_OPENAI_EMBEDDING_DEPLOYMENT": "text-embedding-3-small", 
    "FORM_REC_API_VERSION": "2024-11-30",
    "AZURE_OPENAI_API_VERSION": "2024-02-15-preview"
  }
}
