{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "MIN_CHUNK_SIZE": "100",
    "TOKEN_OVERLAP": "200",
    "NUM_TOKENS":  "2048",
    "SPREADSHEET_NUM_TOKENS":  "20000", 
    "NETWORK_ISOLATION": "false",
    "AZURE_KEY_VAULT_NAME": "",
    "AZURE_FORMREC_SERVICE": "",
    "FORM_REC_API_VERSION": "",    
    "AZURE_OPENAI_SERVICE_NAME": "",
    "AZURE_OPENAI_CHATGPT_DEPLOYMENT": "chat",    
    "AZURE_OPENAI_EMBEDDING_DEPLOYMENT": "text-embedding-ada-002", 
    "AZURE_OPENAI_API_VERSION": "2024-07-01-preview",
    "STORAGE_CONTAINER": "documents",
    "STORAGE_CONTAINER_IMAGES": "documents-images"
  }
}