# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-storage-blob
azure-mgmt-web
azure-mgmt-storage
jsonschema
python-dotenv
requests
tiktoken
langchain
openai
azure-identity
azure-keyvault-secrets
tenacity
aiohttp==3.8.5

langchain-community
langchain-openai
langchainhub
azure-ai-documentintelligence
azure-search-documents==11.6.0b3